@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");

:root {
  --primary-light: rgb(241, 241, 241);
  --primary-dark: rgb(177, 177, 177);
}

@mixin font($a, $b, $c) {
  font-weight: $a;
  font-size: $b;
  color: $c;
}

%flexBasic {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "David Libre", serif;
  flex-direction: column;
  @extend %flexBasic;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--primary-dark);
}

.card {
  background-color: #fff;
  box-shadow: 0 0 1rem #00000050;
  height: 520px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;

  & .card-header {
    & img {
      width: 100%;
    }
  }

  & .card-content {
    padding: 0 1.8rem;

    & > * {
      margin: 0;
    }

    & .card-title {
      margin-top: 2rem;
      @include font(600, 1.8rem, #000);
    }
    & .card-excerpt {
      margin: 1rem 0 2rem 0;
      @include font(300, 1.1rem, #000000);
    }
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;

  & .profile-img {
    & img {
      border-radius: 100%;
      width: 60px;
    }
  }
  & .author-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}

.animated-bg {
  &,
  .animated-bg-text {
    background-image: linear-gradient(
      90deg,
      var(--primary-dark) 20%,
      var(--primary-light) 30%,
      var(--primary-dark) 50%,
      var(--primary-dark) 100%
    );
    background-size: 200% 100%;
    animation: bganimation 1s infinite linear;
  }

  &.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }
}
.animated-bg-text {
  height: 1rem;
  width: 100%;
  display: inline-block;
  margin: 0.2rem 0;
}
.animated-bg.card-header {
  height: 250px;
}

strong.animated-bg.animated-bg-text {
  width: 100px;
}

@keyframes bganimation {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
