@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  text-align: center;
  background: linear-gradient(180deg, #ffc107, #e78b01);
  color: #fff;

  & .counter-container {
    margin: 0.5rem;
    border: #fff 1px solid;
    padding: 1rem;
    border-radius: 10px;
    background: #ffbc4d;
    width: 200px;

    & .counter {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 10px;
    }

    & .fab,
    & .far {
      font-weight: 400;
      font-size: 2.5rem;
      margin: 0.5rem;
    }
    & .num {
      font-size: 2.5rem;
      margin: 0.5rem 0;
      font-weight: 100;
    }

    & .content {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}
