@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

:root {
  --bg-color: rgb(49, 88, 218);
  --black-transparent: rgba(36, 7, 7, 0.424);
}

* {
  box-sizing: border-box;
}

%border-round {
  background-color: var(--black-transparent);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

body {
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.897);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 80%;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;

  & span {
    margin-top: 10px;

    @extend %border-round;
  }
}

textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.87);
  color: var(--bg-color);
}

#tags {
  display: inline-block;
  line-height: 2.5rem;
  margin: 20px 0;

  & .tag {
    background-color: var(--black-transparent);
    @extend %border-round;
    margin: 3rem 0;

    &.highlight {
      background-color: rgb(214, 211, 33);
      color: #000;
      font-weight: 700;
    }
  }
}
