@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

:root {
  --primary-dark: rgb(0, 0, 0);
  --primary-light: #e7e7e7;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-position: center center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: -99;
}

.slider-container {
  box-shadow: 0px 3px 1rem #000000;
  height: 70vh;
  width: 70vw;
  position: relative;

  overflow: hidden;

  & .slider {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transition: 0.3s;

    &.active {
      opacity: 1;
    }
  }
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 1rem;

  &.right-arrow {
    right: 3rem;
  }
  &.left-arrow {
    left: 3rem;
  }
}

button {
  &:hover {
    background-color: #00000080;
    transform: translateY(-60%);
    cursor: pointer;
    transition: 0.2s;
  }
  &:focus {
    outline: none;
    // border: none;
  }
}
